<% content_for :title, "Edit user" %>

<div class="edit_user_container">
  <div class="px-4 py-5 sm:p-6">
    <%= turbo_frame_tag @user, class: "container" do %>
      <%= render "form", user: @user %>
    <% end %>
  </div>
</div>
