@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./header.css";
@import "./buttons.css";
@import "./phones.css";
@import "./dialogs.css";
@import "./messages.css";
@import "./flash.css";
@import "./users.css";
@import "./read_counter.css";

.turbo-progress-bar {
  @apply h-1 bg-blue-700;
}

.disabled_link {
  color: currentColor;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
}
